WebserviceClient/App_WebReferences/MathLibService/MathLibService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNumbersResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractNumbersResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyNumbersResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideNumbersResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddNumbers" />
  </wsdl:message>
  <wsdl:message name="AddNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:SubtractNumbers" />
  </wsdl:message>
  <wsdl:message name="SubtractNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplyNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplyNumbers" />
  </wsdl:message>
  <wsdl:message name="MultiplyNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="DivideNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:DivideNumbers" />
  </wsdl:message>
  <wsdl:message name="DivideNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:DivideNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="MathLibServiceSoap">
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersSoapIn" />
      <wsdl:output message="tns:AddNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubtractNumbers">
      <wsdl:input message="tns:SubtractNumbersSoapIn" />
      <wsdl:output message="tns:SubtractNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyNumbers">
      <wsdl:input message="tns:MultiplyNumbersSoapIn" />
      <wsdl:output message="tns:MultiplyNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <wsdl:input message="tns:DivideNumbersSoapIn" />
      <wsdl:output message="tns:DivideNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathLibServiceSoap" type="tns:MathLibServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="http://tempuri.org/AddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractNumbers">
      <soap:operation soapAction="http://tempuri.org/SubtractNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyNumbers">
      <soap:operation soapAction="http://tempuri.org/MultiplyNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <soap:operation soapAction="http://tempuri.org/DivideNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathLibServiceSoap12" type="tns:MathLibServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractNumbers">
      <soap12:operation soapAction="http://tempuri.org/SubtractNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyNumbers">
      <soap12:operation soapAction="http://tempuri.org/MultiplyNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideNumbers">
      <soap12:operation soapAction="http://tempuri.org/DivideNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathLibService">
    <wsdl:port name="MathLibServiceSoap" binding="tns:MathLibServiceSoap">
      <soap:address location="http://localhost:52151/MathLibService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathLibServiceSoap12" binding="tns:MathLibServiceSoap12">
      <soap12:address location="http://localhost:52151/MathLibService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>